trunk/IP_stream/IP_stream/appConfig/connStringConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LocalDatabaseConn"/>
				<xs:element ref="RemoteDatabaseConn"/>
				<xs:element ref="InsertDatabaseConn"/>
				<xs:element ref="DatabaseConnPool"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="add">
		<xs:complexType>
			<xs:attribute name="providerName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="System.Data.OracleClient"/>
						<xs:enumeration value="System.Data.SqlClient"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=".\SQLEXPRESS_ip_stream"/>
						<xs:enumeration value=".\sqlexpress_|DataDirectory|\Database.mdf"/>
						<xs:enumeration value="192.168.1.12_IP_stream_23a_20100524_new"/>
						<xs:enumeration value="192.168.1.17_sz_17a_20100818_18"/>
						<xs:enumeration value="192.168.1.17_sz_23A_20100524_11"/>
						<xs:enumeration value="192.168.1.2_sz_23A_20100524_11"/>
						<xs:enumeration value="TEST_sa"/>
						<xs:enumeration value="localhost_ip_stream"/>
						<xs:enumeration value="localhost_test"/>
						<xs:enumeration value="new Name"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="connectionString" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoteDatabaseConn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="add" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocalDatabaseConn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="add" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsertDatabaseConn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="add" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatabaseConnPool">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="add" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
