trunk/IP_stream/IP_stream/appConfig/streamTypeDefine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="url">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=".3gp"/>
				<xs:enumeration value=".avi"/>
				<xs:enumeration value=".mp3"/>
				<xs:enumeration value=".swf"/>
				<xs:enumeration value=".zip"/>
				<xs:enumeration value="PPLive"/>
				<xs:enumeration value="PPStream"/>
				<xs:enumeration value="QVOD"/>
				<xs:enumeration value="UUSee"/>
				<xs:enumeration value="ad.3g.net.cn"/>
				<xs:enumeration value="cctvbox.cctv.com"/>
				<xs:enumeration value="cjis.cn"/>
				<xs:enumeration value="farm*qq.com"/>
				<xs:enumeration value="feidiantv"/>
				<xs:enumeration value="ggmusic.3g.cn"/>
				<xs:enumeration value="hexin"/>
				<xs:enumeration value="http"/>
				<xs:enumeration value="imupdate.3g.cn"/>
				<xs:enumeration value="kaixin.com"/>
				<xs:enumeration value="kugou.com"/>
				<xs:enumeration value="lark"/>
				<xs:enumeration value="live.qq.com"/>
				<xs:enumeration value="liveja.amigo."/>
				<xs:enumeration value="ltmp3.cn"/>
				<xs:enumeration value="mail."/>
				<xs:enumeration value="mmsc.monternet.com"/>
				<xs:enumeration value="mmsservice"/>
				<xs:enumeration value="qqmusic"/>
				<xs:enumeration value="tv.video.sina.com.cn"/>
				<xs:enumeration value="video"/>
				<xs:enumeration value="wap.haoting."/>
				<xs:enumeration value="wap.ttpod."/>
				<xs:enumeration value="xunlei.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="uris">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BrowseCategory"/>
						<xs:enumeration value="GameCategory"/>
						<xs:enumeration value="GeneralDownloads"/>
						<xs:enumeration value="IM"/>
						<xs:enumeration value="MMS"/>
						<xs:enumeration value="P2P"/>
						<xs:enumeration value="StockCategory"/>
						<xs:enumeration value="StreamingMedia"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ports">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="port" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="GameCategory"/>
						<xs:enumeration value="IM"/>
						<xs:enumeration value="MMS"/>
						<xs:enumeration value="StockCategory"/>
						<xs:enumeration value="StreamingMedia"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="port">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="14000"/>
				<xs:enumeration value="211.136.107.88"/>
				<xs:enumeration value="211.136.163.36"/>
				<xs:enumeration value="211.136.165.57"/>
				<xs:enumeration value="211.136.221.125"/>
				<xs:enumeration value="211.138.100.244"/>
				<xs:enumeration value="211.139.144.145"/>
				<xs:enumeration value="211.94.156.162"/>
				<xs:enumeration value="211.99.191.229"/>
				<xs:enumeration value="218.200.160.29"/>
				<xs:enumeration value="218.204.254.237"/>
				<xs:enumeration value="222.73.34.172"/>
				<xs:enumeration value="222.73.34.5"/>
				<xs:enumeration value="222.73.34.8"/>
				<xs:enumeration value="61.145.124.185"/>
				<xs:enumeration value="6666"/>
				<xs:enumeration value="6667"/>
				<xs:enumeration value="8040"/>
				<xs:enumeration value="9901"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TcpPortType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ports" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StreamIdentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TcpPortType"/>
				<xs:element ref="HttpWspUriType"/>
				<xs:element ref="ResponseType"/>
				<xs:element ref="ProtocolType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Responses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Response" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="StreamingMedia"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Responses"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="audio"/>
				<xs:enumeration value="multipart"/>
				<xs:enumeration value="video"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Protocols">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Protocol" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="GeneralDownloads"/>
						<xs:enumeration value="IM"/>
						<xs:enumeration value="MMS"/>
						<xs:enumeration value="P2P"/>
						<xs:enumeration value="StreamingMedia"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProtocolType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Protocols" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Protocol">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BitTorrent"/>
				<xs:enumeration value="MMSE"/>
				<xs:enumeration value="eDonkey"/>
				<xs:enumeration value="ftp"/>
				<xs:enumeration value="oicq"/>
				<xs:enumeration value="pop"/>
				<xs:enumeration value="pop3"/>
				<xs:enumeration value="rtsp"/>
				<xs:enumeration value="smtp"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HttpWspUriType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="uris" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
